<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="connectionString" value="a-connection-string"/>
  </appSettings>
  <connectionStrings>
    <add name="main" connectionString="connection string"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
